body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.content {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#map {
    height: 100vh;
    flex: 1;
}

.leaflet-container {
    background: #fff;
}

.sidebar {
    width: 300px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh;
    transition: transform 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 10;
}

.sidebar h2 {
    padding: 10px;
    text-align: center;
}

.sidebar h3 {
    padding: 10px;
}

.sidebar p {
    padding: 0 5px;
}

.node-image {
    height: auto;
    width: 300px;
    display: block;
    margin: 5px 0;
}

.hover-effect {
    fill: lightblue !important;
}

p {
    margin: 0;
    padding: 0 20px;
}

#preh1 {
    margin-top: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
}

.close-sidebar {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}

#help-message {
    display: none;
    padding: 20px;
}

#help-message p {
    padding-top: 20px;
}

#help-small-message {
    padding-left: 20px;
    padding-right: 20px;
}

#show-help {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#show-help:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        height: 100%;
        transform: translateX(-100%);
        z-index: 1000;
    }
    .sidebar.visible {
        transform: translateX(0);
    }
    .close-sidebar {
        display: block;
    }
    .message.desktop {
        display: none;
    }
    #help-message {
        padding: 10px;
    }
    #preh1 {
        margin-top: 10px;
        margin-left: 50px;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .sidebar {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        overflow-y: scroll;
        transform: none;
    }

    .message.mobile {
        display: none;
    }

    .close-sidebar {
        display: none;
    }
}
